<section><div class="container"><div class="row"><div class="col"><router-link :to="article.href" :key="article.href" v-for="(article, i) of articles">{{ article.title }}</router-link></div><div class="col span-3" v-html="article.content"></div></div></div></section>