<panda-header></panda-header><panda-hero><div class="row"><div class="col"><pre><code class="panda">import panda-lang

class Panda {
  method void speak (String name) {
    Console.print("Hello " + name + "!")
  }
}

main {
  Panda panda = new Panda()
  panda.speak(666) // Hello satan!
}
</code></pre></div><div class="col span-2 pl-37"><h1><strong class="pad-h-17 pad-v-7 bg-2 text-1">Panda</strong></h1><h1><small class="pad-h-17 pad-v-7 bg-2 text-1">is a lightweight and powerful programming language written in Java.</small></h1></div></div></panda-hero>