<main><section><div class="container"><div class="row"><div class="col"><pre><code class="panda">import panda-lang

class Panda {
  method void speak (String name) {
    Console.print("Hello " + name + "!")
  }
}

main {
  Panda panda = new Panda()
  panda.speak(666) // Hello satan!
}
</code></pre></div><div class="col span-2 pl-37"><h1><strong class="pad-h-17 pad-v-7 bg-2 text-1">Panda</strong></h1><h1><small class="pad-h-17 pad-v-7 bg-2 text-1">is lightweight and powerful programming language written in Java.</small></h1></div></div></div><svg width="100" height="10" viewBox="0 0 26.458 2.646" preserveAspectRaio="none"><path d="M0 2.646h26.458L0 0z" fill="#fff"></path></svg></section></main>