section.panda-hero
  --breakpoint 70%

  &::before
    content ''
    display block
    absolute 0 0 _
    height var(--breakpoint)
    pallete 4
    clip-path polygon(0 0, 100% 0, 100% 100%, 0 70%)

  relative _
  height 100vh
  pallete 5

  display flex
  align-items center

  > :not(svg)
    z-index 1

  svg
    size 100% auto

    absolute var(--breakpoint) _ _
    transform translateY(-100%)

    path
      fill pallete(5)
