section.panda-hero
  --breakpoint 70%

  relative _
  height 100vh
  background linear-gradient(top, raw-pallete(4) var(--breakpoint), raw-pallete(5) var(--breakpoint))

  display flex
  align-items center

  > :not(svg)
    z-index 1

  svg
    size 100% auto

    absolute var(--breakpoint) _ _
    transform translateY(-100%)

    path
      fill pallete(5)
