.error
  height 100%
  width 100%

  background #fff
  display flex
  justify-content center
  align-items center

  letter-spacing 1px
  font-size 1.2em
  font-family monospace

  pre
    color #8f9295
    background color-alt

    .comment
      color #465159

    .keyword
      color #198FE3

    .token
      color #FF1C68
