.error
  pre
    span.comment // {{ err.status }} {{ err.name }}.
    br
    
    span.comment(v-if='err.message') // {{ err.message }}
    br(v-if='err.message')
    
    span.keyword if&nbsp;
    span (status ===&nbsp;
    span.token {{ err.status }}
    span ) {
    br
    
    span.keyword &nbsp; throw new&nbsp;
    span Error (
    span.token `{{ face }}`
    span );
    br
    
    span }

  pre(v-if='err.stack')
    | {{ err.stack }}
