header.panda-header
  background pallete(4)
  fixed 0 _ _
  width 100%
  z-index 2

  nav
    display flex
    flex-flow row

    .right
      margin-left auto

    .left
      margin-right auto

    a
      display inline-block
      padding 27px 7px
      color rgba(#fff, .5)

      &:hover
        color #fff
        text-decoration none

      &.router-link-active
        color #fff

.panda-header-spacer
  height 72px
  padding _ _ 27px
