header.padna-header
  nav.container
    .left
      router-link(to='/') Panda
    .right
      router-link(to='/guide/') Guide
      router-link(to='/examples/') Examples
      router-link(to='/support/') Support
      router-link(to='/api/') API
      a(href='https://discordapp.com/invite/AN8HgWc') Community
      a(href='https://github.com/Panda-Programming-Language/') Github
