header.panda-header
  nav.container
    .left
      router-link(to='/') Panda
    .right
      router-link(to='/guide/') Guide
      router-link(to='/examples/') Examples
      router-link(to='/docs/') Documentation
      router-link(to='/support/') Support
      a(href='https://discordapp.com/invite/AN8HgWc') Community
      a(href='https://github.com/panda-lang/') Github
