header.panda-header
  nav.container
    .left
      router-link(to='/') Panda
    .right
      router-link(to='/guide/') Guide
      router-link(to='/docs/') Docs
      router-link(to='/support/') Support
      a(href='https://discordapp.com/invite/AN8HgWc') Community
