section
  .container
    .row
      .col
        router-link.block.pad-v-17(:to='article.href', :key='article.href', v-for='(article, i) of articles') {{ article.title }}
      .col.span-3(v-html='article.content')
