panda-hero
  .row.reverse-sm.reverse-xs
    .col
      pre
        code.panda
          // TODO: fix relative path
          include /views/index/assets/hello_world.panda
    .col.span-2.pl-37
      h1
        strong.pad-h-17.pad-v-7.bg-5.text-4 Panda
      h1
        small.pad-h-17.pad-v-7.bg-5.text-4 lightweight and powerful programming language written in Java
      .row
        router-link.col.button(to='/guide')
          i.fas.fa-book-open
          |  Get started
        a.col.button(href='https://github.com/panda-lang/panda/releases')
          i.fas.fa-download
          |  Download

section.bg-4
  .container
    h1.text-light Team members
    panda-members(:hidden-users="['bmstefanski']")
