panda-header

panda-hero
  .row
    .col
      pre
        code.panda
          include ../assets/hello_world.panda
    .col.span-2.pl-37
      h1
        strong.pad-h-17.pad-v-7.bg-2.text-1 Panda
      h1
        small.pad-h-17.pad-v-7.bg-2.text-1 is a lightweight and powerful programming language written in Java.
