panda-hero
  .row
    .col
      pre
        code.panda
          // TODO: fix relative path
          include /views/index/assets/hello_world.panda
    .col.span-2.pl-37
      h1
        strong.pad-h-17.pad-v-7.bg-5.text-4 Panda
      h1
        small.pad-h-17.pad-v-7.bg-5.text-4 is a lightweight and powerful programming language written in Java.

panda-news
  .news
    h3 New website
      .date 13/09/2019
    p Today we've lunched our new website
    
  .news
    h3 New github organization
      .date 11/09/2019
    p We've just changed our name from Panda-Programming-Language to #[a(href='https://github.com/panda-lang') @panda-lang]
      
      
