main
  section
    .container
      .row
        .col
          pre
            code.panda
              include ../assets/hello_world.panda
        .col.span-2.pl-37
          h1
            strong.pad-h-17.pad-v-7.bg-2.text-1 Panda
          h1
            small.pad-h-17.pad-v-7.bg-2.text-1 is lightweight and powerful programming language written in Java.
    svg(width="100" height="10" viewBox="0 0 26.458 2.646" preserveAspectRaio="none")
      path(d='M0 2.646h26.458L0 0z' fill="#fff")
        
