panda-hero
  .row
    .col
      pre
        code.panda
          // TODO: fix relative path
          include /views/index/assets/hello_world.panda
    .col.span-2.pl-37
      h1
        strong.pad-h-17.pad-v-7.bg-5.text-4 Panda
      h1
        small.pad-h-17.pad-v-7.bg-5.text-4 is a lightweight and powerful programming language written in Java.

        
