panda-news.pad-top-47
  .news
    h3 New website
      .date 13/09/2019
    p Today we've launched our new website
    
  .news
    h3 New github organization
      .date 11/09/2019
    p We've just changed our name from #[kbd Panda-Programming-Language] to #[a(href='https://github.com/panda-lang') @panda-lang]
    
