<div class="error"><pre><span class="comment">// {{ err.status }} {{ err.name }}.</span><br/><span class="comment" v-if="err.message">// {{ err.message }}</span><br v-if="err.message"/><span class="keyword">if&nbsp;</span><span>(status ===&nbsp;</span><span class="token">{{ err.status }}</span><span>) {</span><br/><span class="keyword">&nbsp; throw new&nbsp;</span><span>Error (</span><span class="token">`{{ face }}`</span><span>);</span><br/><span>}</span></pre><pre v-if="err.stack">{{ err.stack }}</pre></div>