extends /layouts/default.pug

block head
  title Panda - lightweight and powerful programming language
  
block append styles
  +style('app')
  +style('typography')
  +style('grid')
  +style('padding')
  +style('margin')
  +style('header')
  
block append post-scripts
  +gh('highlightjs/cdn-release/build/highlight.min.js')
  +gh('highlightjs/cdn-release/build/styles/atom-one-dark.min.css')
  
  script.
    hljs.registerLanguage('panda', hljs => {
      return {
        aliases: ['panda'],
        k: {
          keyword: 'for if while main import module continue break loop method void new',
          literal: 'true false null',
          type: 'String Console Panda',
        },
        c: [
          {
            cN: 'class',
            bK: 'class', end: /[{;=]/, excludeEnd: true,
            k: 'class interface',
            i: /[:"\[\]]/,
            c: [
              { bK: 'extends' },
              hljs.UTM,
            ]
          },
          hljs.CBCM,
          hljs.CLCM,
          hljs.QSM,
          hljs.NM,
        ]
      }
    })
    
    hljs.initHighlighting()
