header
  nav.container
    .left
      router-link(to='/') Panda
    .right
      router-link(to='/guide/') Guide
      router-link(to='/examples/') Examples
      router-link(to='/api/') API
      a(href='https://github.com/Panda-Programming-Language/') Github
      
      
