:root
  {apply-colors}

html
  height 100%

main
  display flex
  flex-flow column
  min-height 100%

  // move footer down
  > :last-child
    margin-top auto

#app
body
  height 100%
  min-height 100%
  background pallete(5)

.container
  --max-width 1177px

  width 100%
  max-width var(--max-width)
  margin _ auto

pre code.hljs.panda
  background transparent
  padding 0

for n in (1..5)
  .bg-{n}
    background pallete(n)

  .text-{n}
    color pallete(n)

.bg-light
  background color-text-light

.bg-dark
  background color-text-dark

.text-light
  color color-text-light

.text-dark
  color color-text-dark

.fetcher-error
  pallete 2
  color color-text-light
  padding 17px
  flex center

.block
  display block


// HLJS
.hljs-keyword
  color #198fe3 !important

.hljs-type
  color #ff1c68 !important

.hljs-string
.hljs-regexp
.hljs-addition
.hljs-attribute
.hljs-meta-string
  color #48eeed !important

.hljs-built_in, .hljs-class .hljs-title
  color #ffb734 !important

.hljs
  color #8f9295 !important
