:root
  {apply-colors}

html
  height 100%

main
  display flex
  flex-flow column
  min-height 100%

  // move footer down
  > :last-child
    margin-top auto

#app
body
  height 100%
  min-height 100%
  background pallete(5)

body > .scroll-content
  height 100%

.container
  width 100%
  margin _ auto

  +media('xs')
    padding _ 17px

  +media('sm')
    max-width 700px

  +media('md')
    max-width 900px

  +media('lg')
    max-width 1100px

*
  box-sizing border-box

pre code.hljs.panda
  background transparent
  padding 0

for n in (1..5)
  .bg-{n}
    background pallete(n)

  .text-{n}
    color pallete(n)

.bg-light
  background color-text-light

.bg-dark
  background color-text-dark

.text-light
  color color-text-light

.text-dark
  color color-text-dark

.fetcher-error
  pallete 2
  color color-text-light
  padding 17px
  flex center

.block
  display block


// HLJS
.hljs-keyword
  color #ff1c68 !important

.hljs-type
  color #198fe3 !important

.hljs-string
.hljs-regexp
.hljs-addition
.hljs-attribute
.hljs-meta-string
  color #48eeed !important

.hljs-built_in, .hljs-class .hljs-title
  color #ffb734 !important

.hljs
  color #8f9295 !important

a.button
  pallete 5
  box-shadow 3px 3px 0 0 pallete(1)
  text-align center
  padding 17px
  cursor pointer

  &:hover
    box-shadow 3px 3px 0 0 pallete(2)

  + a.button
    margin-left 7px

  i
    float left
