for n in (0..9)
  mar = n * 10 + 7

  .mar-{mar}
    margin mar * 1px

  .mar-top-{mar}
  .mt-{mar}
    margin-top mar * 1px

  .mar-right-{mar}
  .mr-{mar}
    margin-right mar * 1px

  .mar-bottom-{mar}
  .mb-{mar}
    margin-bottom mar * 1px

  .mar-left-{mar}
  .ml-{mar}
    margin-left mar * 1px

  .mar-h-{mar}
    margin _ mar * 1px

  .mar-v-{mar}
    margin mar * 1px _
