for n in (0..9)
  pad = n * 10 + 7

  .pad-{pad}
    padding pad * 1px

  .pad-top-{pad}
    padding-top pad * 1px

  .pad-right-{pad}
    padding-right pad * 1px

  .pad-bottom-{pad}
    padding-bottom pad * 1px

  .pad-left-{pad}
    padding-left pad * 1px

  .pad-h-{pad}
    padding _ pad * 1px

  .pad-v-{pad}
    padding pad * 1px _
