root-font-size = 13px
html
  text-size-adjust 100%

body
  word-wrap break-word
  color color-text-dark

  font-size root-font-size
  line-height 1.231em
  font-family Source Sans Pro, Helvetica, Arial, sans-serif

pre, code
kbd, samp
  font-family Liberation Mono, monospace
  white-space pre
  font-size 1em

pre, kbd
  background pallete(3)
  color pallete(5)
  border-radius 3px
  padding .2ch .5ch

pre
  padding 3ch

h1, h2, h3, h4, h5, h6
  color inherit
  line-height 1.2

strong, b
h1, h2, h3, h4, h5, h6
  font-weight bold

em, dfn
  font-style italic

sub, sup
small
  font-size 0.76923076923em

strong, abbr, small
dfn, sub, sup, em, a, b, u
  display inline-block

sub, sup
  line-height 0
  position relative
  vertical-align baseline

sub
  bottom -.25em

sup
  top -.5em

h1, h2, h3, h4, h5, h6
table, fieldset, form
ul, ol, dl, p, pre
  font-size 1em
  margin _ _ 1em

abbr[title]
  text-decoration none
  border-bottom 1px dotted
  cursor help





// Headings
for level in (1..5)
  h{level}
    local-font-size = 16px + 10 - level * 2
    lower-font-size = local-font-size - 2

    if level == 5
      lower-font-size = root-font-size

    font-size unit(local-font-size / root-font-size, em)

    small
      font-size unit(lower-font-size / local-font-size, em)


// Lists

ul
ol
  margin _ _ _ 2em

  > li
    list-style-position outside

ul
  > li
    list-style-type disc

ol
  > li
    list-style-type decimal


// Links
a
  background-color transparent // Fix gray bg in IE10
  color pallete(1)
  text-decoration none

  &:active
  &:hover
    outline-width 0

  &:hover
  &.router-link-exact-active
    color pallete(2)

.text-left
  text-align left

.text-center
  text-align center

.text-right
  text-align right
