.panda-members
  display flex
  flex-wrap wrap

  .member
    flex-shrink 0
    border-left 1px solid pallete(1)
    box-shadow 1px 0 0 0 pallete(1)

    h3
      color pallete(5)
      vertical-align middle

      img
        display inline-block
        border-radius 50%
        vertical-align middle
