html, body
  width 100%
  height 100%
body
  overflow-y scroll

h1
  @apply text-2xl
h2
  @apply text-xl
h3
  @apply text-lg
h1, h2, h3
h4, h5, h6
  font-weight bold
  @apply text-black
a
  @apply text-theme-blue
.bg-theme-blue
  @apply bg-theme-blue
  transition background-color 1s ease
.theme-blue-hover:hover
  transition background-color 1s ease
  background-color #07579c
pre
  @apply px-6
  @apply py-4

  code.hljs.panda
    background transparent
    padding 0

.fade-enter-active
  transition opacity .1s
.fade-enter
  opacity 0

.hljs-keyword
  color #5695f5 !important
.hljs-type
  color white !important
.hljs-string
.hljs-regexp
.hljs-addition
.hljs-attribute
.hljs-meta-string
  color #20bf82
.hljs-built_in, .hljs-class .hljs-title
  //color #ffb734 !important
.hljs
  @apply text-gray-200
//color #8f9295 !important
