html, body
  width 100%
  height 100%

body
  overflow-y scroll
  
h1
  @apply text-2xl
h2
  @apply text-xl
h3
  @apply text-lg

h1, h2, h3
h4, h5, h6
  font-weight bold
  @apply text-black

pre
  @apply bg-gray-800
  @apply px-6
  @apply py-4

  code.hljs.panda
    background transparent
    padding 0
