.hljs-keyword
  color #5695f5 !important

.hljs-type
  color white !important

.hljs-string
.hljs-regexp
.hljs-addition
.hljs-attribute
.hljs-meta-string
  color #20bf82

.hljs-built_in, .hljs-class .hljs-title
  //color #ffb734 !important

.hljs
  @apply text-gray-200

//color #8f9295 !important
