.hljs-keyword
  color #ff1c68 !important

.hljs-type
  color #198fe3 !important

.hljs-string
.hljs-regexp
.hljs-addition
.hljs-attribute
.hljs-meta-string
  color #48eeed !important

.hljs-built_in, .hljs-class .hljs-title
  color #ffb734 !important

.hljs
  @apply text-gray-200
  //color #8f9295 !important
