.bg-texture
  background-image url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")
.bg-black
  background-color black

h1
  @apply text-2xl
h2
  @apply text-xl
h3
  @apply text-lg

h1, h2, h3
h4, h5, h6
  font-weight bold
  @apply text-black

pre
  @apply bg-gray-800
  @apply px-6
  @apply py-4

  code.hljs.panda
    background transparent
    padding 0
