.markdown

  h1 
    padding-top 124px
    margin-top -100px
    padding-bottom 20px
    @apply text-3xl

  h2
    padding-top 84px
    margin-top -60px
    padding-bottom 20px

  h3, h4, h5
    padding-top 64px
    margin-top -50px
    padding-bottom 12px
    color #808080

  p
    @apply my-2

  img
    @apply my-5
    border 1px solid black

  ul
    @apply list-disc
    // @apply list-inside
    @apply py-2
    @apply px-6

  code
    @apply text-sm
    @apply bg-grey
    @apply my-6
    color #dd157c

  pre
    @apply my-5

    code
      background-color transparent
      color inherit

  table
    @apply my-5
    border 1px solid #ddd 

    td, th
      @apply px-4 py-1

    th
      text-align: left
      @apply px-3

  .emoji
    display inline
    border none
    @apply my-0