main
  panda-header
  .panda-header-spacer(v-if='typeof this["spacer"] === "undefined" || spacer === true')
  error-handler(:err='err || false') %template%
  waff-footer
    a(href='https://github.com/panda-lang')
      i.fab.fa-github
    a(href='https://discordapp.com/invite/AN8HgWc')
      i.fab.fa-discord
