<header class="panda-header"><nav class="container"><div class="left"><router-link to="/">Panda</router-link></div><div class="right"><router-link to="/guide/">Guide</router-link><router-link to="/docs/">Docs</router-link><router-link to="/support/">Support</router-link><a href="https://discordapp.com/invite/AN8HgWc">Community</a></div></nav></header>