<div class="waff-footer"><div class="container"><div class="left"><p>Copyright {{ yearspan }} {{ companyname }}<br v-if="copyright"/>{{ copyright }}</p></div><div class="center"><slot></slot></div><div class="right">Designed by <a href="https://wvffle.net">wvffle</a> {{ comment }}</div></div></div>